
body {
  margin-left: 16px;
  margin-right: 16px;
}

/*
input[type='text'], select {
  display: block;
  margin: 6px;
}

select {
  margin-top: 16px;
}

input[type='radio'] {
  margin-left: 26px;
}
*/
